<div *ngIf="responseMessage === 'Cannot book an appointment in the past.'" class="alert alert-danger mt-3" role="alert">
  {{ responseMessage }}
</div>
<div *ngIf="responseMessage && responseMessage !== 'Cannot book an appointment in the past.'" class="alert alert-success mt-3" role="alert">
  {{ responseMessage }}
</div>

<div class="card">
  <div class="card-body">
    <form class="mb-3 mt-md-4" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="patientId" class="form-label">Patient Id</label>
        <input type="text" class="form-control" placeholder="Patient Id" formControlName="patientId">
        <div *ngIf="itemForm.controls['patientId'].invalid && (itemForm.controls['patientId'].dirty || itemForm.controls['patientId'].touched)" class="ng-dirty">
          <span *ngIf="itemForm.controls['patientId'].errors">
            <span class="text-danger">Please enter a valid Patient Id.</span>
          </span>
        </div>
      </div>

      <div class="mb-3">
        <label for="doctorId" class="form-label">Doctor Id</label>
        <input type="text" class="form-control" placeholder="Doctor Id" formControlName="doctorId">
        <div *ngIf="itemForm.controls['doctorId'].invalid && (itemForm.controls['doctorId'].dirty || itemForm.controls['doctorId'].touched)" class="ng-dirty">
          <span *ngIf="itemForm.controls['doctorId'].errors">
            <span class="text-danger">Please enter a valid Doctor Id.</span>
          </span>
        </div>
      </div>

      <div class="mb-3">
        <label for="time" class="form-label">Appointment Time</label>
        <input type="datetime-local" name="time" formControlName="time" [(ngModel)]="formModel.time" class="form-control" id="time" placeholder="Appointment Time" [min]="today">
        <div *ngIf="itemForm.controls['time'].invalid && (itemForm.controls['time'].dirty || itemForm.controls['time'].touched)" class="ng-dirty">
          <span *ngIf="itemForm.controls['time'].errors">
            <span class="text-danger">Please choose a valid Appointment Time.</span>
          </span>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>