/* Registration Form Styling */

.form-container {
    position: relative;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.201);
}

.item-Form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 80%;
    margin-top: 10px;
}

.error {
    color: red;
}
.card-container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh; /* Adjust as needed */
    overflow: hidden; /* Prevent vertical scroll */
}

input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.151);
}

.register {
    background: #000;
    color: white;
    border: 4px solid rgba(0, 0, 0, 0.226);
    border-radius: 5px;
    width: 100%;
}

.go-to-login {
    color: blue;
}

#registraton-card-black {
    background-color: rgba(0, 0, 0, 0.475);
    color: white;
    position: fixed;
}

.error-message {
    margin-bottom: 10px; /* Adjust as needed */
  }
  
