.vh-85 {
  height: 90vh; /* Adjust the height of the container */
  display: flex; /* Use Flexbox */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}


// ..btn{
  .btn{
    background-color: rgb(48, 134, 134);
  }