<div class="vh-85 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center p-4">
      <div class="col-12 col-md-8 col-lg-6 p-4">
        <div class="card card-black">
          <div class="card-body p-4">
            <form class=" p-4" [formGroup]="itemForm" (ngSubmit)="onLogin()">
              <h6 class="fw-bold mb-2 text-uppercase text-center">Healthcare Appointment Management System</h6>
              <p class="mb-4 text-center">Please enter your user and password!</p>
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" formControlName="username" [(ngModel)]="formModel.username" class="form-control" id="username" placeholder="name">
                <div *ngIf="itemForm.controls['username'].invalid && (itemForm.controls['username'].dirty || itemForm.controls['username'].touched)" class="ng-dirty">
                  <span *ngIf="itemForm.controls['username'].errors">
                    <span class="text-danger">Please enter username.</span>
                  </span>
                </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" formControlName="password" [(ngModel)]="formModel.password" class="form-control" id="password" placeholder="*******">
                <div *ngIf="itemForm.controls['password'].invalid && (itemForm.controls['password'].dirty || itemForm.controls['password'].touched)" class="ng-dirty">
                  <span *ngIf="itemForm.controls['password'].errors">
                    <span class="text-danger">Please enter password.</span>
                  </span>
                </div>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-outline-primary">Login</button>
              </div>
            </form>
            <div>
              <p class="mb-0 text-center">Don't have an account? <a (click)="registration()" class="text-primary fw-bold">Register</a></p>
            </div>
            <div *ngIf="showError" class="alert alert-danger" role="alert">
              {{errorMessage}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>