<div *ngIf="responseMessage" class="alert alert-success mt-4" role="alert">
  {{ responseMessage }}
</div>
<div class="card mx-auto mt-5" style="max-width: 500px;">
  <div class="card-header text-center bg-primary text-black">
      <h4>Update Availability</h4>
  </div>
  <div class="card-body">
      <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
              <label for="availability" class="form-label">Availability</label>
              <input type="hidden" formControlName="doctorId">
              <select class="form-control" formControlName="availability">
                  <option value="null">Choose Availability</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
              </select>
              <div *ngIf="itemForm.controls['availability'].invalid && (itemForm.controls['availability'].dirty || itemForm.controls['availability'].touched)"
                  class="text-danger mt-2">
                  <span *ngIf="itemForm.controls['availability'].errors">Please choose availability.</span>
              </div>
          </div>
          <div class="text-center">
              <button class="btn btn-primary" type="submit">Submit</button>
          </div>
      </form>
  </div>
</div>